<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<span th:replace="fragments/head.html"></span>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        support@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +012-345-6789
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <span th:replace="fragments/nav.html"></span>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a th:href="@{/}">
                                <img src="/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="userEntity">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a th:href="@{/cart}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span th:text="|(${itemsNumber})|">(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid">
                <form th:action="@{/checkout}" th:method="POST" th:object="${checkoutDTO}">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Billing Address</h2>

                                <div class="row">
                                    <div id="billing-first-name-div" class="col-md-6" >
                                        <label>First Name</label>
                                        <input id="billing-first-name-input" th:field="*{firstName}" class="form-control" type="text" placeholder="First Name">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                    </div>

                                    <div id="billing-last-name-div" class="col-md-6">
                                        <label>Last Name"</label>
                                        <input id="billing-last-name-input" th:field="*{lastName}" class="form-control" type="text" placeholder="Last Name">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                    </div>
                                    <div id="billing-email-div" class="col-md-6">
                                        <label>E-mail</label>
                                        <input id="billing-email-input" th:field="*{email}" class="form-control" type="text" placeholder="E-mail">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    </div>
                                    <div id="billing-mobile-number-div" class="col-md-6">
                                        <label>Mobile No</label>
                                        <input id="billing-mobile-number-input" th:field="*{mobileNo}" class="form-control" type="text" placeholder="Format: +359884559203" pattern="^[\+]?\d{10,15}$" required>
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}"></span>
                                    </div>
                                    <div id="billing-address-div" class="col-md-12">
                                        <label>Address</label>
                                        <input id="billing-address-input" th:field="*{address}" class="form-control" type="text" placeholder="Address">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Country</label>
                                        <select th:field="*{country}" class="custom-select">
                                            <option value="United States" selected>United States</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                        </select>
                                    </div>
                                    <div id="billing-city-div" class="col-md-6">
                                        <label>City</label>
                                        <input id="billing-city-input" th:field="*{city}" class="form-control" type="text" placeholder="City">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input th:field="*{state}" class="form-control" type="text" placeholder="State">
                                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
                                    </div>
                                    <div id="billing-zip-code-div" class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input id="billing-zip-code-input" th:field="*{zipCode}" class="form-control" type="number" placeholder="ZIP Code">
                                        <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1>Cart Total</h1>
                                <p class="sub-total">Sub Total<span th:text="${#numbers.formatDecimal(subTotal, 1, 'DEFAULT', 2, 'DEFAULT')} + '$'">$99</span></p>
                                <p class="ship-cost">Shipping Cost<span>$5</span></p>
                                <h2>Grand Total<span th:text="${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 2, 'DEFAULT')} + '$'">$100</span></h2>
                            </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input th:field="*{paymentMethod}" value="Paypal" type="radio" class="custom-control-input" id="payment-1" name="payment">
                                            <label class="custom-control-label" for="payment-1">Paypal</label>
                                        </div>
                                        <div class="payment-content" id="payment-1-show">
                                            <p>
                                                A digital payment system that allows users to securely make online transactions with their bank account or credit card. Paypal is widely accepted by online retailers and merchants.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input th:field="*{paymentMethod}" value="Payoneer" type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            <label class="custom-control-label" for="payment-2">Payoneer</label>
                                        </div>
                                        <div class="payment-content" id="payment-2-show">
                                            <p>
                                                An online payment platform that allows businesses and individuals to send and receive payments globally. Payoneer provides various payment methods including international wire transfers, prepaid debit cards, and local bank transfers.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input th:field="*{paymentMethod}" value="CheckPayment" type="radio" class="custom-control-input" id="payment-3" name="payment">
                                            <label class="custom-control-label" for="payment-3">Check Payment</label>
                                        </div>
                                        <div class="payment-content" id="payment-3-show">
                                            <p>
                                                A traditional payment method where the buyer writes a check to the seller for the agreed amount. The seller can then deposit the check into their bank account for payment.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input th:field="*{paymentMethod}" value="DirectBankTransfer" type="radio" class="custom-control-input" id="payment-4" name="payment">
                                            <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                                        </div>
                                        <div class="payment-content" id="payment-4-show">
                                            <p>
                                                A method of transferring money directly from one bank account to another. Direct bank transfers are commonly used for large transactions and can take a few business days to complete.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input th:field="*{paymentMethod}" value="CashOnDelivery" type="radio" class="custom-control-input" id="payment-5" name="payment">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                                A payment method where the buyer pays for the goods or services in cash when they are delivered to their doorstep. Cash on delivery is commonly used for online shopping.
                                            </p>
                                        </div>
                                         <span class="span-for-errors-in-checkout" th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}"></span>
                                    </div>
                                </div>
                                <div class="checkout-btn">
                                    <button>Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- Checkout End -->
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Get in Touch</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Follow Us</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Company Info</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Purchase Info</h2>
                            <ul>
                                <li><a href="#">Payment Policy</a></li>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <h2>We Accept:</h2>
                            <img src="img/payment-method.png" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <h2>Secured By:</h2>
                            <img src="img/godaddy.svg" alt="Payment Security" />
                            <img src="img/norton.svg" alt="Payment Security" />
                            <img src="img/ssl.svg" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
