<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/coming-soon.css">
</head>
<body>

<h2 class="first-heading-coming-soon">Sorry, this section is still in its cocoon phase.</h2>
<h2 class="second-heading-coming-soon">But we promise it'll emerge as a beautiful butterfly soon!</h2>
<div class="div-image-coming-soon">
<img src="/img/coming-soon.gif" alt="">
</div>
</body>
</html>