<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Store-Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link th:href="@{/img/favicon.ico}" rel="icon" type="img/x-icon">
</head>

<body>

    <div class="container">
        <div class="box">
            <h2>Login</h2>
            <form th:action="@{/users/login}" th:method="post">

                <div class="input_box">
                    <input  class="input_box"
                            th:value="${username}"
                            type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message">
                    </small>
                </div>

                <div class="input_box">
                    <input id="password" name="password" type="password" class="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input_box" th:if="${badCredentials}">
                    <small class="invalid-message">
                        Invalid username or password!
                    </small>
                </div>

                <div class="forgot_password"> <a href="#"> Forgot Password ?</a></div>

                <button class="login_button" type="submit">Login</button>

                <div class="login_link">
                    <a th:href="@{/users/register}">Don't have an Account ?</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>