<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Store-Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <h2>Login</h2>
            <form th:action="@{/login}" th:method="post" th:object="${loginDTO}">

                <div th:if="${badCredentials}" class="input_box">
                    <small class="badCredentials">Incorrect username or password!</small>
                </div>
                <div class="input_box">
                    <input th:field="*{email}" type="text" class="name" required>
                    <label>Email</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </small>
                </div>

                <div class="input_box">
                    <input th:field="*{password}" type="password" class="password" required>
                    <label>Password</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </small>
                </div>

                <div class="forgot_password"> <a href="#"> Forgot Password ?</a></div>

                <button class="login_button" type="submit">Login</button>

                <div class="login_link">
                    <a href="/register">Don't have an Account ?</a>
                </div>
            </form>
            </div>
        </div>

</body>

</html>