<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<span th:replace="fragments/head.html"></span>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        support@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +012-345-6789
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <span th:replace="fragments/nav.html"></span>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a th:href="@{/}">
                                <img src="/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="userEntity">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a th:href="@{/cart}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span th:text="|(${itemsNumber})|">(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" th:classappend="${!redirectedFromOrder} ? active : ''" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Account Details</a>
                            <a class="nav-link" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                            <a class="nav-link" th:classappend="${redirectedFromOrder} ? active : ''" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i> Orders</a>
                            <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="fa fa-credit-card"></i>Payment Method</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                                <h4 class="my-account-text-format-h4">Dashboard</h4>
                                <p class="my-account-text-format">
                                    Your centralized hub for managing your account. Get an overview of your orders, payment methods, addresses, and easily access tools for managing your account settings. Stay up-to-date with important notifications and alerts about your account.Whether you're a frequent shopper or just getting started, the dashboard is an essential tool for managing your online account. So why wait? Start using the dashboard today and take control of your online shopping experience!
                                </p> 
                            </div>
                            <div class="tab-pane fade" th:classappend="${redirectedFromOrder} ? 'show active' : ''" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                <div class="table-responsive">
                                    <div th:if="${customerOrders.size() == 0}">
                                        <h2 class="empty-order-queue">Your orders are as empty as a Black Friday sale bin!</h2>
                                        <h2 class="empty-order-queue">It looks like it's time for some shopping therapy.</h2>
                                        <p id="paragraphForGoBackShopping">start from <a th:href="@{/products}">here</a> :)</p>
                                    </div>
                                    <table class="table table-bordered" th:if="${customerOrders.size() != 0}">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No</th>
                                                <th>Product</th>
                                                <th>Date</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody th:each="order : ${customerOrders}">
                                            <tr class="my-account-tr-format">
                                                <td th:text="${order.getId()}">1</td>
                                                <td>
                                                <span th:each="item, iter :${order.getItems()}">
                                                    <span th:text="${item.getName()}"></span>
                                                    <span th:if="${not #lists.isEmpty(order.getItems()) and iter.index + 1 lt #lists.size(order.getItems())}">&</span>
                                                </span>
                                                </td>
                                                <td th:text="${order.getLocalDate()}">01 Jan 2020</td>
                                                <td th:text="${order.getTotalPrice()} + '$'">
                                                </td>
                                                <td th:text="${order.getStatus()}">Approved</td>
                                                <td th:text="${order.getAction()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                                <h4 class="my-account-text-format-h4">Payment Method</h4>
                                <p class="my-account-text-format">
                                    The payment method section of your dashboard provides additional information of the payment options that this website provides.
                                    You can view all the payment methods that are currently available at the checkout process of your purchase.
                                    Additionally, we take your payment security seriously and have implemented features such as encryption and fraud detection
                                    to keep your payment information safe.
                                </p>

                            </div>

                            <div class="tab-pane fade" th:classappend="${!redirectedFromOrder} ? 'show active' : ''" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                <h4>Account Details</h4>
                                <form th:action="@{/my-account/edit/details}" th:method="patch" th:object="${changeAcc}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="newFirstName" class="form-control" th:field="*{newFirstName}" name="newFirstName" type="text" placeholder="First Name">
                                        <small class="errors-for-update-acc" th:if="${#fields.hasErrors('newFirstName')}" th:errors="*{newFirstName}">
                                        </small>
                                    </div>

                                    <div class="col-md-6">
                                        <input id="newLastName" class="form-control" th:field="*{newLastName}" name="newLastName" type="text" placeholder="Last Name">
                                        <small class="errors-for-update-acc" th:if="${#fields.hasErrors('newLastName')}" th:errors="*{newLastName}">
                                        </small>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="newMobileNumber" class="form-control" th:field="*{newMobileNumber}" type="text" placeholder="+359883769429" pattern="^\+?\d{10,12}$" required>
                                        <small class="errors-for-update-acc" th:if="${#fields.hasErrors('newMobileNumber')}" th:errors="*{newMobileNumber}">
                                        </small>
                                    </div>

                                    <div class="col-md-6">
                                        <input id="newEmail" class="form-control" th:field="*{newEmail}" type="text" placeholder="User@gmail.com">
                                        <small class="errors-for-update-acc" th:if="${#fields.hasErrors('newEmail')}" th:errors="*{newEmail}">
                                        </small>
                                    </div>

                                    <div class="col-md-12">
                                        <input id="newAddress" class="form-control" th:field="*{newAddress}" type="text" placeholder="22th Alvarado Street">
                                        <small class="errors-for-update-acc" th:if="${#fields.hasErrors('newAddress')}" th:errors="*{newAddress}">
                                        </small>
                                    </div>

                                    <div class="col-md-12">
                                        <button id="buttonForUpdateAcc" type="submit" class="btn">Update Account</button>
                                        <br><br>
                                    </div>

                                    <div th:if="${successMessage}" role="alert">
                                        <p class="success-acc-change-text" th:text="${successMessage}"></p>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Get in Touch</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Follow Us</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Company Info</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Purchase Info</h2>
                            <ul>
                                <li><a href="#">Payment Policy</a></li>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <h2>We Accept:</h2>
                            <img src="img/payment-method.png" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <h2>Secured By:</h2>
                            <img src="img/godaddy.svg" alt="Payment Security" />
                            <img src="img/norton.svg" alt="Payment Security" />
                            <img src="img/ssl.svg" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html >
