<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E Store-Register</title>
  <link rel="stylesheet" href="/css/add-product.css">
</head>

<body>

<div class="container">
  <div class="box">
    <h2>Add Product</h2>

    <form th:method="post" th:action="@{/product-add}" enctype="multipart/form-data" th:object="${addProductDTO}">
      <div class="input_box">
        <input type="text"
               th:field="*{name}"
               name="name"
               class="name"
               required>
        <label>Name</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </small>
      </div>

      <div class="input_box">
        <input id="description"
               name="description"
               th:field="*{description}"
               type="text" class="name" required>
        <label for="description">Description</label>
      </div>

      <div class="input_box">
          <small class="invalid-message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
         </small>
      </div>

      <div class="input_box">
        <input id="lastName"
               name="colour"
               th:field="*{colour}"
               type="text" class="name" required>
        <label>Colour</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('colour')}" th:errors="*{colour}">
        </small>
      </div>

      <div class="input_box">
        <input type="text"
               th:field="*{specifications}"
               name="name"
               class="name"
               required>
        <label>Specifications</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('specifications')}" th:errors="*{specifications}">
        </small>
      </div>

      <div class="input_box">
        <input type="number" step="0.01"
               th:field="*{price}"
               name="price"
               class="name" required>
        <label>Price</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
        </small>
      </div>

      <div class="input_box">
        <input id="quantity"
               th:field="*{quantity}"
               name="quantity"
               type="number"required>
        <label for="quantity">Quantity</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
        </small>
      </div>

      <div class="input_box">
        <input id="uploading-date"
               th:field="*{uploadedAt}"
               name="date"
               type="date">
        <label>Uploaded At:</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('uploadedAt')}" th:errors="*{uploadedAt}">
        </small>
      </div>


      <div class="input_box">
        <select name="gender" id="gender"
                th:field="*{gender}">
          <option value="M" selected>Male</option>
          <option value="F">Female</option>
          <option value="K">Kid</option>
        </select>
        <label id="gender-label">Gender:</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
        </small>
      </div>


      <div class="input_box">
        <select name="type" id="type"
                th:field="*{type}">
          <option value="DRESS" selected>Dress</option>
          <option value="SKIRT">Skirt</option>
          <option value="JEANS">Jeans</option>
          <option value="SOCKS">Socks</option>
          <option value="T_SHIRT">T-Shirt</option>
        </select>
        <label for="type" id="type-label">Type:</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">
        </small>
      </div>

      <div class="input_box">

        <label for="for-size" id="size_selection_label">Sizes:</label>
          <input id="for-size" class="size_selection" type="checkbox" name="sizes"
                 th:each="productSize : ${predefinedSizes}"
                 th:text="${productSize.getProductSize().name()}"
                 th:value="${productSize.getId()}"
                 th:field="*{size}">
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${emptySize}">
          You must select a size!
        </small>
      </div>

      <div class="input_box">
        <input type="file" id="upload-image" multiple="multiple" name="img" th:field="*{images}">
        <label for="upload-image">Image</label>
      </div>

      <div class="input_box">
        <small class="invalid-message" th:if="${emptyImage}">
          You must upload an image!
        </small>
      </div>



      <button class="signup_button" type="submit">Add Product</button>


    </form>
  </div>
</div>


</body>

</html>