<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Store-Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <h2>Register</h2>

            <form th:method="post" th:action="@{/users/register}">
                <div class="input_box">
                    <input type="text"
                           name="firstName"
                           class="name" required>
                    <label>First Name</label>
                </div>
<!--                 Validations: -->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">-->
<!--                    </small>-->
<!--                </div>-->

                <div class="input_box">
                    <input id="lastName"
                           name="lastName"
                           type="text" class="name" required>
                    <label for="lastName"> Last Name</label>
                </div>

<!--                Validations:-->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">-->
<!--                    </small>-->
<!--                </div>-->

                <div class="input_box">
                    <input id="password"
                           name="password"
                           type="password" class="password" required>
                    <label for="password">Password</label>
                </div>

<!--                Validations: -->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
<!--                    </small>-->
<!--                </div>-->

                <div class="input_box">
                    <input id="confirmPassword" type="password" class="password" required>
                    <label for="confirmPassword">Confirm Password</label>
                </div>

<!--                Validations-->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message"  th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">-->
<!--                        Invalid Confirm password-->
<!--                    </small>-->

<!--                    <small th:if="${passwordsDoNotMatch}" class="invalid-message">Passwords do not match</small>-->

<!--                </div>-->

                <div class="input_box">
                    <input type="text"
                           name="email"
                           class="name" required>
                    <label>Email</label>
                </div>

<!--                Validations:-->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--                    <small th:if="${emailUsed}" class="invalid-message">Email already used</small>-->
<!--                </div>-->

                <div class="input_box">
                    <input id="address"
                           name="address"
                           type="text" class="name" required>
                    <label for="address">Address</label>
                </div>

<!--                Validations:-->
<!--                <div class="input_box">-->
<!--                    <small class="invalid-message"  th:if="${#fields.hasErrors('address')}" th:errors="*{address}">-->
<!--                    </small>-->
<!--                </div>-->

                <div class="input_box">
                    <input id="mobile"
                           name="mobileNumber"
                           type="text" class="name" pattern="^[\+]?\d{10,15}$" required>
                    <label for="address">Mobile Number</label>
                </div>

<!--                <div class="input_box">-->
<!--                    <small class="invalid-message"  th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}">-->
<!--                    </small>-->
<!--                </div>-->


                <button class="signup_button" type="submit">Create Account</button>

                <div class="login_link">
                    <a href="/login">Already have an Account ?</a>
                </div>
            </form>
            </div>
        </div>


</body>

</html>