<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Store-Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <h2>Register</h2>

            <form th:method="post" th:action="@{/register}" th:object="${registerDTO}">
                <div class="input_box">
                    <input th:field="*{firstName}" type="text" class="name" required>
                    <label>First Name</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('firstName')}">
                        First Name is invalid
                    </small>
                </div>

                <div class="input_box">
                    <input id="lastName" th:field="*{lastName}" type="text" class="name" required>
                    <label for="lastName"> Last Name</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('lastName')}">
                        Last name error message
                    </small>
                </div>

                <div class="input_box">
                    <input th:field="*{password}" type="password" class="password" required>
                    <label>Password</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('password')}">
                        Invalid password
                    </small>
                </div>

                <div class="input_box">
                    <input th:field="*{password}" type="password" class="password" required>
                    <label>Confirm Password</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('password')}">
                        Invalid Confirm password
                    </small>
                </div>

                <div class="input_box">
                    <input th:field="*{email}" type="text" class="name" required>
                    <label>Email</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('email')}">
                       Invalid email
                    </small>
                </div>

                <div class="input_box">
                    <input id="address" th:field="*{address}" type="text" class="name" required>
                    <label for="address">Address</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('address')}">
                        Invalid address
                    </small>
                </div>

                <div class="input_box">
                    <input id="mobile" th:field="*{mobileNumber}" type="text" class="name" required>
                    <label for="address">Mobile Number</label>
                </div>

                <div class="input_box">
                    <small class="invalid-message" th:if="${#fields.hasErrors('mobileNumber')}">
                        Invalid mobile number
                    </small>
                </div>


                <button class="signup_button" type="submit">Create Account</button>

                <div class="login_link">
                    <a href="/login">Already have an Account ?</a>
                </div>
            </form>
            </div>
        </div>


</body>

</html>