<div class="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a th:href="@{/home}" class="nav-item nav-link">Home</a>
                    <a th:href="@{/products}" class="nav-item nav-link">Products</a>
                    <a th:href="@{/products-details}" class="nav-item nav-link">Product Detail</a>
                    <a th:href="@{/cart}" class="nav-item nav-link">Cart</a>
                    <a th:href="@{/checkout}" class="nav-item nav-link">Checkout</a>
                    <a th:href="@{/wishlist}" class="nav-item nav-link">Wishlist</a>
                </div>
                <div class="navbar-nav ml-auto">
<!--                    <div class="nav-item dropdown">-->
<!--                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>-->
<!--                        <div class="dropdown-menu">-->
<!--                            <a th:href="@{/login}" class="dropdown-item">Login</a>-->
<!--                            <a th:href="@{/register}" class="dropdown-item">Register</a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <a th:href="@{/my-account}" class="nav-item nav-link">My Account</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/users/login}" class="nav-item nav-link">Login</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/users/register}" class="nav-item nav-link">Register</a>
                    <a th:href="@{/contact}" class="nav-item nav-link">Contact Us</a>
                    <form th:method="post" th:action="@{/users/logout}">
                        <span sec:authorize="isAuthenticated()">
<!--                          <a href="/users/logout" class="nav-item nav-link" type="submit">Logout</a>-->
                            <input id="logout-button" type="submit" value="Logout" class="nav-item nav-link">
                        </span>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>