.h2-403 {
    text-align: center;
    padding-left: 139px;
    font-family: monospace;
    font-size: 50px;
}

.h3-403 {
    text-align: center;
    padding-left: 139px;
    font-family: monospace;
    font-size: 50px;
    margin-top: -23px;
}

.image-403-error {
    text-align: center;
    width: 952px;
    height: 745px;
    padding-left: 219px;
    margin-top: -26px;
}