*{
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 120vh;
    position: relative;
    background: linear-gradient(45deg , rgb(135 129 255) , rgb(255 110 110));

}

.container .box {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 25px 25px 45px 25px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 30px;
    position: relative;
}

h2::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(45deg ,#875cff, #ff66d7);
    bottom: -8px;
}

.box .input_box {
    width: 100%;
    position: relative;
}

.box .input_box input {
    width: 100%;
    font-size: 26px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #cd7acd;
}

.box .input_box label {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 26px;
    color:  #0000009e;
    pointer-events: none;
    transition: 0.2s;
}

.box .input_box input:focus + label,
.box .input_box input:valid + label {
    top: -10px;
    font-size: 18px;
    color: rgba(110, 69, 9, 0.881);
}

.box .input_box .password_checkbox {
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;

}

.box .signup_button {
    width: 100%;
    background: linear-gradient(45deg ,#875cff, #ff66d7);
    border: none;
    padding: 10px 16px;
    margin-top: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
}

.box .signup_button:active {
    transform: scale3d(0.9, 0.9, 0.9);
}

.box .login_link {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.box .login_link a {
    color: #000;
    text-decoration: none;
}

.box .login_link a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.input_box .invalid-message {
    margin-bottom: 16px;
    display: inline-block;
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    font-family: helvetic sans-serif;
}

/*.input_box .invalid-email {*/
/*    margin-bottom: 16px;*/
/*    padding: 1px;*/
/*    display: inline-block;*/
/*    color: white;*/
/*    background-color: red;*/
/*    opacity: 0.7%;*/
/*    border-radius: 4px;*/
/*    font-size: 18px;*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*    font-family: helvetic sans-serif;*/
/*}*/

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

#upload-image {
    font-size: 18px;
}

#uploading-date{
    font-style: italic;
    color: #0000009e;
}

/*#size {*/
/*    position: absolute;*/
/*    padding-left: -1px;*/
/*    margin-left: 51px;*/
/*    margin-top: 4px;*/
/*    width: 300px;*/
/*    font-size: 20px;*/
/*}*/

/*#size-label {*/
/*    position: static;*/
/*    padding-left: 3px;*/
/*    margin-left: -3px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 16px;*/
/*    overflow: visible;*/
/*}*/

.box .input_box select {
    width: 100%;
    font-size: 26px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #cd7acd;
}

#gender-label {
    margin-top: -27px;
    font-size: 21px;
    color: rgba(110, 69, 9, 0.881);
}

#type-label {
    margin-top: -27px;
    font-size: 21px;
    color: rgba(110, 69, 9, 0.881);
}

#size-label {
    margin-top: -27px;
    font-size: 21px;
    color: rgba(110, 69, 9, 0.881);
}

/*#gender {*/
/*    position: absolute;*/
/*    padding-left: -1px;*/
/*    margin-left: 51px;*/
/*    margin-top: 4px;*/
/*    width: 300px;*/
/*    font-size: 20px;*/
/*}*/

/*#gender-label {*/
/*    position: static;*/
/*    padding-left: 3px;*/
/*    margin-left: -3px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 16px;*/
/*    overflow: visible;*/
/*}*/

/*#type {*/
/*    position: absolute;*/
/*    padding-left: -1px;*/
/*    margin-left: 51px;*/
/*    margin-top: 4px;*/
/*    width: 300px;*/
/*    font-size: 20px;*/
/*}*/

/*#type-label {*/
/*    position: static;*/
/*    padding-left: 3px;*/
/*    margin-left: -3px;*/
/*    margin-top: 7px;*/
/*    margin-bottom: 16px;*/
/*    overflow: visible;*/
/*}*/





